    <div class={{class}} >
        <label for={{name}}>{{label}} </label>
       <span class="error-message">{{errorMessage}}</span>
        <input required type={{type}} name={{name}} id={{name}} placeholder="{{placeholder}}" value="{{ inputValue }}">
    </div>
