<div class="container">
  <form class="container__info_about-user">
    {{!-- {{{inputAvatar}}} --}}
    {{{inputEmail}}}
    {{{inputLogin}}}  
    {{{inputName}}}
    {{{inputSurname}}}
    {{{inputDisplayName}}}
    {{{inputPhone}}}
    {{{button}}}
    <br>
    {{{linkProfile}}}
  </form>
</div>
