<div class="container__form_reg">
    <form class="reg-form">
        <h1 class="reg-form__name">Create profile</h1>
        {{{inputEmail}}}
        {{{inputLogin}}}  
        {{{inputName}}}
        {{{inputSurname}}}
        {{{inputPhone}}}
        {{{inputPassword}}}
        <div class="reg-form__buttons">
            {{{buttonForm}}}
            <br>
            {{{link}}}
        </div>
    </form> 
</div>
