<div class="modals modals-add 
        {{#if addUserModal}}
        modals__show
        {{/if}}">
   <div class="new_chst">
       Invite 
       {{!-- {{chatID}} --}}
       </br>
       {{!-- {{{formChatInput}}} --}}
       {{!-- HELOOOOOOOY --}}
       {{{inputUserName}}}
       {{{srechButton}}}
       {{{errorFind}}}
   </div>
   </br>
     {{{closeButton}}}
</div>
