<div class="container">
  <form class="container__info_about-user">
    {{{inputOldPassword}}}
    {{{inputNewPassword}}}
    {{{inputReapatPassword}}}
    {{{button}}}
    <br>
    {{{linkProfile}}}
  </form>
</div>
