<div class="container">
    <div class="container__info_foto">
        {{{avatar}}}
    </div>
    <div class="container__info_about-user">
        <div class="container__info_about-user_info">
            <div class="container__info_title">Email: </div>
            <div class="container__info_email">{{email}}</div>
        </div>
        <div class="container__info_about-user_info">
            <div class="container__info_title">Login: </div>
            <div class="container__info_login">{{login}} </div>
        </div>
        <div class="container__info_about-user_info">
            <div class="container__info_title">Name: </div>
            <div class="container__info_first_name">{{name}}</div>
        </div>
        <div class="container__info_about-user_info">
            <div class="container__info_title">Surname: </div>
            <div class="container__info_second_name">{{surname}} </div>
        </div>
        <div class="container__info_about-user_info">
            <div class="container__info_title">Phone: </div>
            <div class="container__info_phone">{{phone}} </div>
        </div>
        <div class="container__info_about-user_info">
            <div class="container__info_title">Chat name: </div>
            <div class="container__info_display_name">{{chatName}} </div>
        </div>
    </div>
    <div class="container__info__buttons">
        {{{linkInfo}}}
         <br>
         {{{linkavatar}}}
         <br>
        {{{linkPass}}}
         <br>
        {{{linkLogout}}}
    </div>
</div>
