<div class="container__greed">
  <div class="all-chats">
    <div class="all-chats__header">
      <div class="all-chats__header__go-to-profile">{{{link}}}</div>
      <div class="all-chats__header__search">
        {{{inputSerch}}}
      </div>
    </div>
    <div class="all-chats__all-message">
      <ul class="all-chats__each-message_list">
        {{#each allChats}}
          <li class="all-chats__each-message_message">
            <div class="all-chats__each-message_message_name">
                {{this.label}}
            </div>
            <div class="all-chats__each-message_message_lastmessage">
              {{this.lastMess}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="chat">
    <div class="chat_info"><h2>Ivan</h2></div>
    <div class="chat_message">
      <div class="chat_message_list_user"> HI</div>
      <div class="chat_message_list_addresser"> Hello</div>
      <div class="chat_message_list_user"> !!</div>
      <div class="chat_message_list_addresser"> Mew</div>
      <div class="chat_message_list_addresser"> Текст Текст Текст Текст</div>
    </div>
    <div class="chat_new-message_form">
      {{{newMess}}}
    </div>
  </div>
</div>
