<div class="chat_info">
    <div class="chat_info_name">
        <h2>{{name}}</h2>
    </div>
       <div class="chat_info_button">
        {{{buttonDelite}}}
        {{{buttonAddUser}}}
        {{{buttonDeliteUser}}}
    </div>
    {{!-- {{{addnewUserModal}}} --}}
</div>
